@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero {
  background: #f09433;
  background: linear-gradient(
    270deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  -o-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite;
}

header {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding-bottom: 75px;
}

h2 {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 3.125rem;
  text-shadow: 0 0 1px transparent;
  font-weight: 100;
}

p {
  color: white;
}

input {
  margin: 5px 5px;
  padding: 0 5px;
  outline: none;
}

.tools {
  display: flex;
  justify-content: center;
}
.panelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.panel {
  margin: 15px 0;
  padding: 15px 15px;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  font-family: "Roboto", sans-serif;
  color: #494848;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 10px 0;
}

.panel p {
  color: grey;
  font-weight: 300;
  font-size: 1.063rem;
  line-height: 23px;
}

.panel p .emphasis {
  font-weight: 400;
  font-style: italic;
}

.panel ul {
  margin: 5px 17px;
  font-family: "Robot", sans-serif;
  line-height: 22px;
  color: rgb(165, 165, 165);
  text-decoration: unset;
}
.panel li > * {
  font-family: "Robot", sans-serif;
  font-size: 0.875rem;
  color: rgb(165, 165, 165);
  text-decoration: unset;
}

@media only screen and (max-width: 400px) {
  .hero {
    display: hidden;
    padding: 2px;
  }
  header {
    height: 300px;
  }
  h2 {
    line-height: 3.2rem;
    margin: 20px 0;
    text-align: center;
  }

  p {
    text-align: justify;
  }
  .tools {
    width: 100%;
    align-items: center;
  }
  .panelContainer {
    width: 100%;
    margin: 50px 0;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .hero {
    padding: 2px;
  }
  header {
    height: 300px;
  }
  h2 {
    line-height: 3.2rem;
    margin: 20px 0;
    text-align: center;
  }

  p {
    text-align: justify;
  }
  .tools {
    width: 100%;
    align-items: center;
  }
  .panelContainer {
    width: 100%;
    margin: 50px 0;
  }

  .panel {
    width: 90%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .hero {
    padding: 2px;
  }
  header {
    height: 300px;
  }
  h2 {
    line-height: 3.2rem;
    margin: 20px 0;
    text-align: center;
  }

  p {
    text-align: justify;
  }
  .tools {
    width: 100%;
    align-items: center;
  }
  .panelContainer {
    width: 100%;
    margin-top: 50px;
  }

  .panel {
    width: 50%;
  }
}
