@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.hero {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  display: flex;
  justify-content: center;
}

header {
  width: 900px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding-bottom: 75px;
}

h2 {
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 50px;
  text-shadow: 0 0 1px transparent;
  font-weight: 100;
}

p {
  color: white;
}

input {
  margin: 5px 5px;
  padding: 0 5px;
  outline: none;
}
input[type="url"] {
  border: 0;
  border-radius: 2.5px;
  width: 400px;
  line-height: 35px;
  font-size: 17px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(172, 172, 172);
}
input[type="submit"] {
  border: 0;
  line-height: 35px;
  height: 35px;
  border-radius: 2px;
  line-height: 30px;
}

.tools {
  display: flex;
  justify-content: center;
}
.downloader {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
  background-color: white;
  height: 150px;
  border-radius: 5px;
}

.help {
  font-size: 14px;
  color: rgb(165, 165, 165);
  text-decoration: unset;
}

.panelContainer {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.panel {
  margin: 15px 0;
  width: 800px;
  background-color: white;
}
